---
title: ""
emoji: "⚙️"
type: "tech" # tech: 技術記事 / idea: アイデア
topics: []
published: false
# published_at: 2022-XX-XX 08:00
---

## a

## まとめ

- aaa

## 最後までお読みいただきありがとうございます

この記事のいいねや SNS のフォローなど、励みになります！

- Web

  dgdgdgdg についての基本情報はこちら！

  @[card](https://www.dgdgdgdg.com/)

- Twitter

  - メイン

    基本的にこちらにいます

    @[card](https://twitter.com/dg4_design)

  - 豆知識

    毎平日更新。便利な OS の機能やソフトの情報、最新ニュースなどを投稿しています！

    @[card](https://twitter.com/RenRenTipsTree)

- Instagram

  写真の作品を投稿しています

  @[card](https://instagram.com/dg4_design)

- YouTube

  ドラムの演奏動画がほとんどです。たまに映像作品的なものも。

  @[card](https://www.youtube.com/@dg4_design)

- note

  技術的でない、日常的な記事はこちら！

  @[card](https://note.com/dg4_design)
