---
title: ""
emoji: "⚙️"
type: "tech" # tech: 技術記事 / idea: アイデア
topics: []
published: false
# published_at: 2022-XX-XX 08:00
---

# 

# まとめ

# 最後までお読みいただきありがとうございます！

この記事のいいねやSNSのフォローなど、励みになります！  

## Web

dgdgdgdgについての基本情報はこちら！

https://www.dgdgdgdg.com/

## Twitter

### メイン

基本的にこちらにいます

https://twitter.com/dg4_design

### 豆知識

毎平日更新。便利なOSの機能やソフトの情報、最新ニュースなどを投稿しています！

https://twitter.com/RenRenTipsTree

## Instagram

写真の作品を投稿しています

https://instagram.com/dg4_design

## YouTube

ドラムの演奏動画がほとんどです。たまに映像作品的なものも。

@[card](https://www.youtube.com/@dg4_design)

## note

技術的でない、日常的な記事はこちら！

https://note.com/dg4_design

